form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.prompt {
  font-size: 0.9rem;
  margin: 1rem 0 .3rem 0;
}

.text-input {
  width: 100% - 5px;
  height: 6rem;
  padding: 5px;
}

.dropdown-button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.submit-form {
  width: 6rem;
  height: 2.5rem;
  margin: 1rem 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
}